---
import Container from "../../../layouts/Container.astro";
import AgentCard from "./AgentCard.astro";

import model from "../../../model/ContentfulModel";

const agents = await model.getAllAgents();
---

<Container
  className="  cursor-default bg-[--color-secondary-lighter] pb-12 pt-16 xl:pt-36"
>
  <h2
    class="pb-2 text-center text-3xl font-semibold capitalize leading-tight tracking-normal"
  >
    Các đại lý
  </h2>
  <p
    class="mx-auto max-w-[50ch] text-center text-sm font-normal leading-4 tracking-normal opacity-80 [text-wrap:balance]"
  >
    Giới thiệu đội ngũ tài năng của chúng tôi gồm các chuyên gia tận tâm
  </p>
  <div class="mt-10 grid grid-rows-2 gap-8 sm:grid-cols-12 xl:gap-7">
    <!-- {agents.map((agent) => )} -->

    <AgentCard
      agent={agents[0]}
      positionClassName="col-span-12 sm:col-span-6 z-0"
      className=" rounded-es-[7rem] rounded-se-[7rem] "
    />
    <AgentCard
      agent={agents[1]}
      positionClassName="col-span-12 sm:col-span-6 z-10"
      className=" rounded-se-[7rem] rounded-ss-[7rem] "
    />
    <AgentCard
      agent={agents[2]}
      positionClassName="col-span-12 sm:col-span-6 sm:col-start-4 z-20"
      className="rounded-ee-[7rem] rounded-es-[7rem] rounded-ss-[7rem] "
    />
  </div>
</Container>
