<button
  id="button-down"
  aria-label="Go down to the next section"
  class="absolute bottom-10 right-0 mx-10 md:mx-16 cursor-pointer z-index-[500] bg-[--color-secondary-lighter] p-4 rounded-full hidden md:block hover:text-white tabbable"
>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      class="w-5 h-5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M19.5 5.25l-7.5 7.5-7.5-7.5m15 6l-7.5 7.5-7.5-7.5"></path>
    </svg>
  </div>
</button>

<!-- Button press effects (similar to the effects of the Button component) and hover effect -->
<style>
  button {
    transition: border-color 0.3s, background-color 0.3s,
      transform ease-in 0.15s, box-shadow ease-in 0.25s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  }

  button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 15px var(--color-accent-darkest);
  }

  button::after {
    content: "";
    position: absolute;
    width: 3.3rem;
    height: 3.3rem;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(0);
    background-color: var(--color-accent);
    border-radius: 50%;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1);
  }

  button:hover::after {
    z-index: 500;
    transform: translate3d(-50%, -50%, 0) scale(1);
    transition: transform 0.45s cubic-bezier(0.6, 0.01, 0, 1.38);
  }

  button > div {
    position: relative;
    z-index: 502;
  }
</style>
