---
import HeroImage from "./HeroImage.astro";
import Container from "../../../layouts/Container.astro";
import ButtonAnimated from "../../ui/buttons/ButtonAnimated.astro";
---

<section class="w-full h-full overflow-hidden relative cursor-default">
  <HeroImage />
  <div class="w-full h-full flex justify-center flex-col z-30 relative">
    <Container>
      <div
        class="mb-[12vh] sm:mb-[10vh] md:mb-[10vh] lg:mb-[12vh] max-w-lg"
        data-scroll
        data-scroll-speed="-.3"
      >
        <h1
          class="text-4xl md:text-5xl font-normal tracking-wide leading-[1.2] mb-3.5 md:mb-7 w-full"
        >
          Nơi Hạnh Phúc <br />Ngập Tràn
        </h1>
        <p
          class="text-sm md:text-base font-normal text-opacity-90 w-[85%] tracking-normal leading-relaxed"
        >
          Nơi nụ cười nở, hạnh phúc tươi sáng. Nơi nụ cười nở, hạnh phúc tươi
          sáng. Nơi nụ cười nở, hạnh phúc tươi sáng.
        </p>
        <div class="mt-6">
          <ButtonAnimated hiddenText="xem đất">Tìm hiểu</ButtonAnimated>
        </div>
      </div>
    </Container>
  </div>
</section>
