<button
  type="button"
  class="close-button absolute right-1 top-1 inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus-visible:border-[#607cb344] focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-[#607cb3] focus-visible:ring-offset-2"
>
  <span class="sr-only">Close popup</span>

  <svg
    class="h-5 w-5"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    aria-hidden="true"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"></path>
  </svg>
</button>
