---
import Logo from "../logo/Logo.astro";
import CallButton from "./CallButton.astro";
import ButtonSmall from "../ui/buttons/ButtonSmall.astro";
import NavigationItem from "./NavigationItem.astro";
import NavigationDropdown from "./dropdown/NavigationDropdown.astro";
import CallbackForm from "../modals/CallbackForm.astro";
import Popup from "../../layouts/Popup.astro";

interface Props {
  currentPage: string;
}

const { currentPage } = Astro.props;

const navigationPages = [
  {
    title: "Trang chủ",
    href: "/",
  },
  {
    title: "Tìm kiếm đất",
    href: "/#",
  },
  {
    title: "Xem trên bản đồ",
    href: "/#",
  },
  {
    title: "Liên hệ",
    href: "/#",
  },
];
---

<header
  class="absolute top-0 left-0 z-50 w-full py-2 flex flex-row items-center"
>
  <div class="px-4 md:px-8 lg:px-16 flex-1">
    <Logo companyTitle="VietLand" />
  </div>

  <ul class="xl:flex flex-wrap gap-x-2 hidden">
    {
      navigationPages.map((page) => (
        <NavigationItem href={page.href} isActive={page.href === currentPage}>
          {page.title}
        </NavigationItem>
      ))
    }
  </ul>
  <div class="flex xl:px-16 flex-1 justify-end items-center">
    <div class="hidden xl:block">
      <ButtonSmall id="callback-form-btn">Gọi lại</ButtonSmall>
    </div>
    <div class="hidden sm:block"><CallButton phone="+84(09)0160-6982" /></div>
    <div
      class="xl:hidden flex flex-col items-center justify-center ml-4 mr-4 lg:mr-16 md:mr-8 relative"
    >
      <NavigationDropdown currentPage={currentPage} pages={navigationPages} />
    </div>
  </div>
</header>

<style>
  /* Prevent scrollbar from repositioning page content */
  header {
    left: calc(100vw - 100%) !important;
    overflow-x: hidden !important;
  }
</style>

<!-- Functionality of the call back button -->
<script>
  const callbackFormBtn = document.getElementById(
    "callback-form-btn"
  ) as HTMLButtonElement;

  // TODO: later research the correct way to do TS + web components + astro typing
  const callbackFormPopup: any = document.getElementById("callback-form-popup");

  callbackFormBtn.addEventListener("click", () => {
    callbackFormPopup.show();
  });
</script>
