---
interface Props {
  href: string;
  isActive?: boolean;
}

const { href, isActive } = Astro.props;
---

<li>
  <a
    href={href}
    class="tabbable mx-4 my-1.5 rounded-full px-2 py-1.5 text-xs font-semibold uppercase tracking-tight text-opacity-80 transition-colors duration-300 hover:text-[--color-accent-darkest]"
  >
    <slot />
  </a>
</li>
