---
import Container from "../layouts/Container.astro";
import Layout from "../layouts/Layout.astro";

const title = "VietLand - thông tin liên lạc";
---

<!-- TODO: update and style page -->
<Layout pageTitle={title}>
  <Container fullHeight={true} className=" ">
    <div
      class="lg:px-24 lg:py-24 md:py-20 md:px-44 px-4 py-24 items-center flex justify-center flex-col-reverse lg:flex-row md:gap-28 gap-16"
      data-scroll-hide-section
    >
      <div class="xl:pt-24 w-full xl:w-1/2 relative pb-12 lg:pb-0">
        <div class="relative">
          <div class="absolute">
            <div class="">
              <h1 class="my-2 text-gray-800 font-bold text-2xl">
                Có vẻ như bạn đã tìm thấy cánh cửa dẫn đến hư vô tuyệt vời
              </h1>
              <p class="my-2 text-gray-800">
                Xin lỗi vì điều đó! Vui lòng truy cập trang chủ của chúng tôi để
                đến nơi bạn cần đến.
              </p>
              <button
                class="sm:w-full lg:w-auto my-2 border rounded md py-4 px-8 text-center bg-indigo-600 text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-opacity-50"
                >Đưa tôi tơi đo!</button
              >
            </div>
          </div>
          <div>
            <img src="https://i.ibb.co/G9DC8S0/404-2.png" />
          </div>
        </div>
      </div>
      <div>
        <img src="https://i.ibb.co/ck1SGFJ/Group.png" />
      </div>
    </div>
  </Container>
</Layout>
