---
import SocialIcons from "../components/footer/SocialIcons.astro";
import Container from "../layouts/Container.astro";
import Layout from "../layouts/Layout.astro";

const title = "VietLand - thông tin liên lạc";
---

<Layout pageTitle={title}>
  <Container
    className=" bg-[--color-secondary-lighter] grid pt-28 pb-12 grid-cols-[1fr,auto] gap-32 cursor-default"
  >
    <div class="" data-scroll-hide-section>
      <h2
        class="capitalize text-xl md:text-2xl portrait:md:text-4xl xl:text-4xl 2xl:text-5xl tracking-normal pb-2 md:pb-4 font-semibold leading-tight"
      >
        Chúng ta hãy gặp đội
      </h2>

      <p class="text-base pb-6 leading-relaxed">
        Sure, here's some lorem ipsum text: Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Sed eu-text-baseod, sapien vel bibendum
        bibendum, velit sapien bibendum ipsum, vel bibendum sapien sapien vel
        sapien. Sed Gặ làm việc trên các dự án như thế và với tổng lợi ích trên
        19% ã làm việc trên các dự án như. Gặ làm việc trên các dự án như thế và
        với tổng lợi ích trên 19% ã làm việc trên các dự án như.
      </p>
      <p class="text-base pb-6 leading-relaxed">
        Sure, here's some lorem ipsum text: Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Sed euismod, sapien vel bibendum bibendum,
        velit sapien bibendum ipsum, vel bibendum sapien sapien vel sapien.
        SedGặ làm việc trên các dự án như thế và với tổng lợi ích trên 19% ã làm
        việc trên các dự án như. Gặ làm việc trên các dự án như thế và với tổng
        lợi ích trên 19% ã làm việc trên các dự án như.
      </p>
      <p class="text-base pb-6 leading-relaxed">
        Sure, here's some lorem ipsum text: Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Sed euismod, sapien vel bibendum bibendum,
        velit sapien bibendum ipsum, vel bibendum sapien sapien vel sapien. Sed
        Gặ làm việc trên các dự án như thế và với tổng lợi ích trên 19% ã làm
        việc trên các dự án như. Gặ làm việc trên các dự án như thế và với tổng
        lợi ích trên 19% ã làm việc trên các dự án như.
      </p>
    </div>
    <div class="opacity-50 self-end mb-6">
      <svg
        class="h-[40vh] max-h-64 max-w-72 min-h-[150px] min-w-[150px]"
        viewBox="0 0 168 169"
        fill="none"
        preserveAspectRatio="xMaxYMax meet"
        xmlns="http://www.w3.org/2000/svg"
        stroke-width=".6"
        stroke="var(--color-secondary)"
      >
        <path d="M84 0.5V168.5"></path>
        <path d="M0 85L168 85"></path>
        <path d="M42 12L126 157.492"></path>
        <path d="M11.2539 42.7461L156.746 126.746"></path>
        <path d="M11.2539 126.746L156.746 42.7461"></path>
        <path d="M42 157.492L126 11.9999"></path>
      </svg>
    </div>
  </Container>

  <Container
    className="  bg-gradient-to-b from-[--color-secondary-lighter] pt-20 pb-12 cursor-default"
  >
    <h2
      class="capitalize text-xl md:text-2xl portrait:md:text-4xl xl:text-4xl 2xl:text-5xl tracking-normal pb-2 md:pb-4 font-semibold leading-tight text-center"
    >
      Các đại lý
    </h2>
    <p
      class="text-center font-normal opacity-80 text-base tracking-normal -mt-2"
    >
      Giới thiệu đội ngũ tài năng của chúng tôi gồm các chuyên gia tận tâm
    </p>
    <div class="grid grid-cols-2 grid-rows-2 gap-x-8 gap-y-4 mt-10">
      <div
        class="bg-[#607cb317]
      rounded-ss-[2rem] rounded-se-[7rem] rounded-es-[7rem] rounded-ee-[2rem] flex items-center justify-center flex-col p-6 relative"
      >
        <div class="w-36 h-36 rounded-[2.3rem] overflow-hidden">
          <img
            class="w-full h-full object-cover"
            src="https://ssg-web-app.netlify.app/images/agents/agent_1.jpg"
          />
        </div>
        <span class="font-bold mt-2 text-lg">Phi Do Quan</span>
        <span class="uppercase text-xs font-semibold opacity-80 tracking-tight"
          >Aại lý độc quyền</span
        >
        <span class="absolute bottom-1/2"
          ><SocialIcons
            className=""
            phoneRef="+7-000-000-01-01"
            facebookRef="#"
            zaloRef="#"
          /></span
        >
      </div>
      <div
        class="bg-[#607cb317] rounded-[2rem] flex items-center justify-center flex-col p-6"
      >
        <div class="w-36 h-36 rounded-[2.3rem] overflow-hidden">
          <img
            class="w-full h-full object-cover"
            src="https://ssg-web-app.netlify.app/images/agents/agent_2.jpg"
          />
        </div>
        <span class="font-bold mt-2 text-lg">Phi Do Quan</span>
        <span class="uppercase text-xs font-semibold opacity-80 tracking-tight"
          >Aại lý độc quyền</span
        >
        <span class="hidden hover:visible">+7 912 123 12323</span>
        <span class="hidden hover:visible">social icons</span>
      </div>
      <div
        class="bg-[#607cb317] rounded-se-[7rem] rounded-ss-[7rem] rounded-es-[2rem] rounded-ee-[2rem] flex items-center justify-center flex-col p-6"
      >
        <div class="w-36 h-36 rounded-[2.3rem] overflow-hidden">
          <img
            class="w-full h-full object-cover"
            src="https://ssg-web-app.netlify.app/images/agents/agent_3.jpg"
          />
        </div>
        <span class="font-bold mt-2 text-lg">Phi Do Quan</span>
        <span class="uppercase text-xs font-semibold opacity-80 tracking-tight"
          >Aại lý độc quyền</span
        >
        <span class="hidden hover:visible">+7 912 123 12323</span>
        <span class="hidden hover:visible">social icons</span>
      </div>
      <div
        class="bg-[#607cb317] rounded-ee-[7rem] rounded-es-[7rem] rounded-ss-[7rem] rounded-se-[2rem] flex items-center justify-center flex-col p-6"
      >
        <div class="w-36 h-36 rounded-[2.3rem] overflow-hidden">
          <img
            class="w-full h-full object-cover"
            src="https://ssg-web-app.netlify.app/images/agents/agent_4.jpg"
          />
        </div>
        <span class="font-bold mt-2 text-lg">Phi Do Quan</span>
        <span class="uppercase text-xs font-semibold opacity-80 tracking-tight"
          >Dại lý độc quyền</span
        >
        <span class="hidden hover:visible">+7 912 123 12323</span>
        <span class="hidden hover:visible">social icons</span>
      </div>
    </div>
  </Container>

  <!-- <Container
    className="  bg-white pt-20 pb-32 cursor-default flex gap-10 justify-between items-center"
  >
    <div>
      <h3
        class="text-xl md:text-2xl portrait:md:text-4xl xl:text-4xl 2xl:text-5xl tracking-normal pb-2 md:pb-4 font-semibold !leading-snug"
      >
        Sự cam kết về chất lượng:<br /> Nâng tầm Khu Đất của Bạn
      </h3>
      <p
        class="font-normal opacity-80 text-base tracking-normal -mt-2 max-w-prose"
      >
        Lựa chọn đất đai của chúng tôi là sự đầu tư vào không gian và kỷ niệm
        của bạn. Lựa chọn đất đai của chúng tôi là sự đầu tư vào không gian và
        kỷ niệm của bạn.
      </p>
      <div class="grid grid-cols-2 gap-x-14 gap-y-6 mt-6 w-fit">
        <div class="flex flex-col gap-0">
          <span class="text-[2.8rem] font-semibold text-[--color-secondary]"
            >5+</span
          >
          <span
            class="text-base font-normal tracking-tight opacity-80 max-w-[30ch] -mt-1.5"
            >Số năm hoạt động</span
          >
        </div>

        <div class="flex flex-col gap-0">
          <span class="text-[2.8rem] font-semibold text-[--color-secondary]"
            >10+</span
          >
          <span
            class="text-base font-normal tracking-tight opacity-80 max-w-[30ch] -mt-1.5"
            >Địa điểm hoạt động</span
          >
        </div>

        <div class="flex flex-col gap-0">
          <span class="text-[2.8rem] font-semibold text-[--color-secondary]"
            >100+</span
          >
          <span
            class="text-base font-normal tracking-tight opacity-80 max-w-[30ch] -mt-1.5"
            >Giao dịch thực hiện</span
          >
        </div>

        <div class="flex flex-col gap-0">
          <span class="text-[2.8rem] font-semibold text-[--color-secondary]"
            >600+</span
          >
          <span
            class="text-base font-normal tracking-tight opacity-80 max-w-[30ch] -mt-1.5"
            >Khách hàng hài lòng
          </span>
        </div>
      </div>
    </div>
    <div class="relative w-1/3">
      <img
        src="/img/img-temp-1.jpg"
        alt=""
        class="w-full h-full object-cover min-w-[300px] min-h-[65vh] object-left rounded-xl"
      />
    </div>
  </Container> -->
</Layout>
