---
import Container from "../layouts/Container.astro";
import Layout from "../layouts/Layout.astro";

const title = "VietLand - thông tin liên lạc";
---

<Layout title={title} currentPage={"/thong-tin"}>
  <Container
    className=" bg-[--color-secondary-lighter] grid pt-28 pb-12 grid-cols-[1fr,auto] gap-32 cursor-default"
  >
    <div class="">
      <h2
        class="capitalize text-xl md:text-2xl portrait:md:text-4xl xl:text-4xl 2xl:text-5xl tracking-normal pb-2 md:pb-4 font-semibold leading-tight"
      >
        Chúng ta hãy gặp đội
      </h2>

      <p class="text-base pb-6 leading-relaxed">
        Sure, here's some lorem ipsum text: Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Sed eu-text-baseod, sapien vel bibendum
        bibendum, velit sapien bibendum ipsum, vel bibendum sapien sapien vel
        sapien. Sed Gặ làm việc trên các dự án như thế và với tổng lợi ích trên
        19% ã làm việc trên các dự án như. Gặ làm việc trên các dự án như thế và
        với tổng lợi ích trên 19% ã làm việc trên các dự án như.
      </p>
      <p class="text-base pb-6 leading-relaxed">
        Sure, here's some lorem ipsum text: Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Sed euismod, sapien vel bibendum bibendum,
        velit sapien bibendum ipsum, vel bibendum sapien sapien vel sapien.
        SedGặ làm việc trên các dự án như thế và với tổng lợi ích trên 19% ã làm
        việc trên các dự án như. Gặ làm việc trên các dự án như thế và với tổng
        lợi ích trên 19% ã làm việc trên các dự án như.
      </p>
      <p class="text-base pb-6 leading-relaxed">
        Sure, here's some lorem ipsum text: Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Sed euismod, sapien vel bibendum bibendum,
        velit sapien bibendum ipsum, vel bibendum sapien sapien vel sapien. Sed
        Gặ làm việc trên các dự án như thế và với tổng lợi ích trên 19% ã làm
        việc trên các dự án như. Gặ làm việc trên các dự án như thế và với tổng
        lợi ích trên 19% ã làm việc trên các dự án như.
      </p>
    </div>
    <div class="opacity-50 self-end mb-6">
      <svg
        class="h-[40vh] max-h-64 max-w-72 min-h-[150px] min-w-[150px]"
        viewBox="0 0 168 169"
        fill="none"
        preserveAspectRatio="xMaxYMax meet"
        xmlns="http://www.w3.org/2000/svg"
        stroke-width=".6"
        stroke="var(--color-secondary)"
      >
        <path d="M84 0.5V168.5"></path>
        <path d="M0 85L168 85"></path>
        <path d="M42 12L126 157.492"></path>
        <path d="M11.2539 42.7461L156.746 126.746"></path>
        <path d="M11.2539 126.746L156.746 42.7461"></path>
        <path d="M42 157.492L126 11.9999"></path>
      </svg>
    </div>
  </Container>

  <Container
    className="  bg-gradient-to-b from-[--color-secondary-lighter] pt-20 pb-12 cursor-default"
  >
    <h2
      class="capitalize text-xl md:text-2xl portrait:md:text-4xl xl:text-4xl 2xl:text-5xl tracking-normal pb-2 md:pb-4 font-semibold leading-tight text-center"
    >
      Các đại lý
    </h2>
    <p
      class="text-center font-normal opacity-80 text-base tracking-normal -mt-2"
    >
      Giới thiệu đội ngũ tài năng của chúng tôi gồm các chuyên gia tận tâm
    </p>
    <div class="grid grid-cols-2 grid-rows-2 gap-x-8 gap-y-4 mt-10">
      <div
        class="bg-[#607cb327]
      rounded-ss-[2rem] rounded-se-[7rem] rounded-es-[7rem] rounded-ee-[2rem] flex items-center justify-center flex-col p-6"
      >
        <div class="w-32 h-32 rounded-[2rem] overflow-hidden">
          <img
            class="w-full h-full object-cover"
            src="https://random.imagecdn.app/150/150"
          />
        </div>
        <span class="font-bold mt-2 text-lg">Name Second Name</span>
        <span class="uppercase text-xs font-semibold opacity-80 tracking-tight"
          >Position</span
        >
        <span class="hidden hover:visible">+7 912 123 12323</span>
        <span class="hidden hover:visible">social icons</span>
      </div>
      <div
        class="bg-[#607cb327] rounded-[2rem] flex items-center justify-center flex-col p-6"
      >
        <div class="w-32 h-32 rounded-[2rem] overflow-hidden">
          <img
            class="w-full h-full object-cover"
            src="https://random.imagecdn.app/150/150"
          />
        </div>
        <span class="font-bold mt-2 text-lg">Name Second Name</span>
        <span class="uppercase text-xs font-semibold opacity-80 tracking-tight"
          >Position</span
        >
        <span class="hidden hover:visible">+7 912 123 12323</span>
        <span class="hidden hover:visible">social icons</span>
      </div>
      <div
        class="bg-[#607cb327] rounded-se-[7rem] rounded-ss-[7rem] rounded-es-[2rem] rounded-ee-[2rem] flex items-center justify-center flex-col p-6"
      >
        <div class="w-32 h-32 rounded-[2rem] overflow-hidden">
          <img
            class="w-full h-full object-cover"
            src="https://random.imagecdn.app/150/150"
          />
        </div>
        <span class="font-bold mt-2 text-lg">Name Second Name</span>
        <span class="uppercase text-xs font-semibold opacity-80 tracking-tight"
          >Position</span
        >
        <span class="hidden hover:visible">+7 912 123 12323</span>
        <span class="hidden hover:visible">social icons</span>
      </div>
      <div
        class="bg-[#607cb327] rounded-ee-[7rem] rounded-es-[7rem] rounded-ss-[7rem] rounded-se-[2rem] flex items-center justify-center flex-col p-6"
      >
        <div class="w-32 h-32 rounded-[2rem] overflow-hidden">
          <img
            class="w-full h-full object-cover"
            src="https://random.imagecdn.app/150/150"
          />
        </div>
        <span class="font-bold mt-2 text-lg">Name Second Name</span>
        <span class="uppercase text-xs font-semibold opacity-80 tracking-tight"
          >Position</span
        >
        <span class="hidden hover:visible">+7 912 123 12323</span>
        <span class="hidden hover:visible">social icons</span>
      </div>
    </div>
  </Container>

  <Container className="  bg-white pt-36 pb-32 cursor-default">
    <div
      class="grid grid-cols-3 gap-x-16 gap-y-2 justify-items-center relative"
    >
      <span
        class="row-[1/-1] text-4xl font-semibold tracking- text-[--color-secondary-darker]"
        >100</span
      >
      <span
        class="text-base font-normal tracking-tight opacity-80 max-w-[30ch] text-center"
        >Bất động sản đáng kinh ngạc được bán trong năm nay</span
      >

      <span
        class="row-[1/-1] text-4xl font-semibold tracking- text-[--color-secondary-darker]"
        >290</span
      >
      <span
        class="text-base font-normal tracking-tight opacity-80 max-w-[30ch] text-center"
        >Khách hàng hài lòng</span
      >

      <span
        class="row-[1/-1] text-4xl font-semibold tracking- text-[--color-accent-darkest]"
        >12 203</span
      >
      <span
        class="text-base font-normal tracking-tight opacity-80 max-w-[30ch] text-center"
        >Sdf sf sdfbất động sản đáng kinh ngạc được bán trong năm nay</span
      >

      <div
        class="absolute -top-16 -left-40 -translate-y-1/3 opacity-20 max-h-96 max-w-96 min-h-[150px] min-w-[150px] w-[26rem]"
      >
        <svg
          class="h-full w-full"
          viewBox="0 0 272 269"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          stroke-width=".9"
          stroke="var(--color-secondary)"
        >
          <path
            d="M187.388 99.3464C206.083 126.548 217.205 155.134 220.091 179.344C222.98 203.581 217.609 223.288 203.529 232.965C189.448 242.643 169.125 240.595 147.534 229.211C125.965 217.841 103.264 197.214 84.5688 170.012C65.8735 142.81 54.7521 114.225 51.8659 90.0141C48.9766 65.7773 54.3475 46.0703 68.428 36.393C82.5086 26.7157 102.831 28.7638 124.423 40.147C145.991 51.5178 168.693 72.1446 187.388 99.3464Z"
          ></path>
          <path
            d="M163.329 190.746C133.663 205.216 103.747 211.99 79.376 211.265C54.9783 210.541 36.2816 202.316 28.7919 186.96C21.3021 171.603 26.3317 151.806 40.7812 132.135C55.2151 112.484 78.9708 93.0808 108.637 78.6116C138.304 64.1423 168.219 57.3683 192.59 58.0923C216.988 58.8172 235.685 67.042 243.174 82.3983C250.664 97.7545 245.634 117.551 231.185 137.223C216.751 156.874 192.995 176.277 163.329 190.746Z"
          ></path>
        </svg>
      </div>
    </div>
  </Container>
</Layout>
