---
import Container from "../../layouts/Container.astro";
import LogoSmall from "../logo/LogoSmall.astro";
import ButtonAnimated from "../ui/buttons/ButtonAnimated.astro";
import ColumnHeader from "./ColumnHeader.astro";
import SocialIcons from "../ui/social-icons/SocialIcons.astro";
import SubscriptionForm from "./SubscriptionForm.astro";
import Item from "./Item.astro";
import BackgroundImage from "./BackgroundImage.astro";
import Credits from "./Credits.astro";
import CallToAction from "./CallToAction.astro";
---

<!-- Footer component markup -->
<footer class="grid w-full grid-cols-1 grid-rows-[1fr,min,min]">
  <BackgroundImage />

  <CallToAction />

  <div class="bg-[--color-secondary-darkest]">
    <Container
      className="grid grid-cols-1 gap-2 pb-16 md:grid-cols-2 lg:grid-cols-3 "
    >
      <ColumnHeader text="Công ty" />
      <Item type="link" href="/thong-tin">Thông tin</Item>
      <Item
        type="button"
        id="callback-form-footer-btn"
        className="md:[grid-column:1/2] md:[grid-row:3/4]"
      >
        Liên hệ
      </Item>
      <ColumnHeader
        text="đầu tư"
        className="md:[grid-column:2/3] md:[grid-row:1/2]"
      />
      <Item type="link" href="/tim-dat">Tìm kiếm đất</Item>
      <Item
        type="link"
        href="/tim-dat?viewType=map"
        className="lg:[grid-column:2/3] lg:[grid-row:3/4]"
      >
        Xem đất trên bản đồ
      </Item>
      <ColumnHeader
        text="Nhận ưu đãi mới qua email"
        className="mb-1.5 mt-4 md:mb-0 md:mt-0 lg:mb-1.5 lg:[grid-column:3/4] lg:[grid-row:1/2]"
      />
      <SubscriptionForm className="lg:row-span-2" />
      <ColumnHeader
        text="LIÊN KẾT"
        className="mt-2 md:[grid-column:1/2] md:[grid-row:4/5] lg:mt-0 lg:[grid-column:3/4] lg:[grid-row:4/5]"
      />
      <SocialIcons
        positionClassName="-ml-1 [grid-column:1/2] md:[grid-row:5/6] lg:[grid-column:3/4] lg:[grid-row:5/6]"
        contacts={{
          facebookRef: "#",
          zaloRef: "#",
        }}
      />
    </Container>
  </div>

  <Credits />
</footer>
