---
interface Props {
  href: string;
  className?: string;
}

const { href, className } = Astro.props;
---

<a
  class=`text-white opacity-60 font-extralight text-sm py-2 pr-4 hover:opacity-90 transition-opacity duration-150 justify-self-start lg:py-.5 ${className? className : ''}`
  href={href}
>
  <slot />
</a>
