---
import Facebook from "./icons/Facebook.astro";
import Zalo from "./icons/Zalo.astro";
import Phone from "./icons/Phone.astro";

interface Props {
  className?: string;
  facebookRef?: string;
  zaloRef?: string;
  phoneRef?: string;
}

const { className, facebookRef, zaloRef, phoneRef } = Astro.props;
---

<div class=`flex items-center gap-1.5 ${className ? className : ""}`>
  {
    phoneRef && (
      <button
        onclick={`location.href='tel:${phoneRef}'`}
        class="text-[--color-grey-light] md:w-10 md:h-10 w-7 h-7 block opacity-20 hover:opacity-60 transition-opacity duration-150 tabbable rounded-full"
      >
        <Phone />
      </button>
    )
  }

  {
    facebookRef && (
      <a
        href={facebookRef}
        target="_blank"
        rel="noopener"
        class="text-[--color-grey-light] md:w-10 md:h-10 w-7 h-7 block opacity-20 hover:opacity-60 transition-opacity duration-150 tabbable rounded-full"
      >
        <Facebook />
      </a>
    )
  }

  {
    zaloRef && (
      <a
        href={zaloRef}
        target="_blank"
        rel="noopener"
        class="text-[--color-grey-light] md:w-10 md:h-10 w-7 h-7 block opacity-20 hover:opacity-60 transition-opacity duration-150 tabbable rounded-full"
      >
        <Zalo />
      </a>
    )
  }
</div>
