---
import Container from "../../../layouts/Container.astro";
---

<Container
  className="  flex cursor-default items-center justify-between gap-10 bg-white pb-32 pt-20"
>
  <div>
    <h3
      class="pb-2 text-xl font-semibold !leading-snug tracking-normal md:pb-4 md:text-2xl xl:text-4xl 2xl:text-5xl portrait:md:text-4xl"
    >
      Sự cam kết về chất lượng:<br /> Nâng tầm Khu Đất của Bạn
    </h3>
    <p
      class="-mt-2 max-w-prose text-base font-normal tracking-normal opacity-80"
    >
      Lựa chọn đất đai của chúng tôi là sự đầu tư vào không gian và kỷ niệm của
      bạn. Lựa chọn đất đai của chúng tôi là sự đầu tư vào không gian và kỷ niệm
      của bạn.
    </p>
    <div class="mt-6 grid w-fit grid-cols-2 gap-x-14 gap-y-6">
      <div class="flex flex-col gap-0">
        <span class="text-[2.8rem] font-semibold text-[--color-secondary]"
          >5+</span
        >
        <span
          class="-mt-1.5 max-w-[30ch] text-base font-normal tracking-tight opacity-80"
          >Số năm hoạt động</span
        >
      </div>

      <div class="flex flex-col gap-0">
        <span class="text-[2.8rem] font-semibold text-[--color-secondary]"
          >10+</span
        >
        <span
          class="-mt-1.5 max-w-[30ch] text-base font-normal tracking-tight opacity-80"
          >Địa điểm hoạt động</span
        >
      </div>

      <div class="flex flex-col gap-0">
        <span class="text-[2.8rem] font-semibold text-[--color-secondary]"
          >100+</span
        >
        <span
          class="-mt-1.5 max-w-[30ch] text-base font-normal tracking-tight opacity-80"
          >Giao dịch thực hiện</span
        >
      </div>

      <div class="flex flex-col gap-0">
        <span class="text-[2.8rem] font-semibold text-[--color-secondary]"
          >600+</span
        >
        <span
          class="-mt-1.5 max-w-[30ch] text-base font-normal tracking-tight opacity-80"
          >Khách hàng hài lòng
        </span>
      </div>
    </div>
  </div>
  <div class="relative w-1/3">
    <img
      src="/img/img-temp-1.jpg"
      alt=""
      class="h-full min-h-[65vh] w-full min-w-[300px] rounded-xl object-cover object-left"
    />
  </div>
</Container>
