---
interface Props {
  className?: string;
  fullHeight?: boolean;
}

const { className, fullHeight } = Astro.props;
---

<section
  class={`max-w-screen-2xl w-full px-10 md:px-16 lg:px-32 min-[1700px]:px-0  xl:mx-auto ${
    fullHeight
      ? "h-max md:[min-height:112vh] flex flex-col items-center justify-center"
      : ""
  } ${className ? className : ""}`}
>
  <slot />
</section>
