---
interface Props {
  className?: string;
  fullHeight?: boolean;
  attributes?: any;
}

const { className, fullHeight, attributes } = Astro.props;
---

<div
  {...attributes}
  class={`max-w-screen-2xl w-full px-6 md:px-16 lg:px-32 min-[1700px]:px-0  xl:mx-auto  ${
    fullHeight
      ? "h-max md:[min-height:100vh] flex flex-col items-center justify-center pt-12 pb-6"
      : ""
  } ${className ? className : ""}`}
>
  <slot />
</div>
