---
import "../styles/main.css";

import Footer from "../components/footer/Footer.astro";
import Navigation from "../components/navigation/Navigation.astro";
import CallbackForm from "../components/modals/CallbackForm.astro";
import Popup from "../components/modals/Popup.astro";
import Alert from "../components/ui/alerts/Alert.astro";
import LoadingScreen from "../components/loading-page-animations/loading-screen/LoadingScreen.astro";
import LoadingPageTransitions from "../components/loading-page-animations/loading-page-transitions/LoadingPageTransitions.astro";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
const currentPage = Astro.url.pathname;
---

<!doctype html>
<html lang="en" class="bg-[--color-secondary-lighter]">
  <head>
    <meta charset="UTF-8" />
    <!-- TODO: update metadata + SEO -->
    <!-- TODO: SEO optimization -->
    <meta
      name="description"
      content="Khám phá cơ hội đầu tư đất đai với chúng tôi. Đối tác đáng tin cậy cho những dự án bất động sản chiến lược. Mở khóa tiềm năng của các bất động sản giá trị và bắt đầu hành trình đầu tư của bạn ngay hôm nay."
    />
    <meta property="og:title" content="VietLand - Đầu Tư Bất Động Sản" />
    <meta
      property="og:image"
      content="https://images.ctfassets.net/2lc6rsj68vep/1cknc0YIwoJI3FhJtHXiP8/140e57b38253c0a579f7b9f0e6a7e92a/main-hero-min.jpg?h=250"
    />
    <meta
      property="og:url"
      content="https://deft-entremet-3bc804.netlify.app/"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Preload images for main page -->
    {
      currentPage === "/" && (
        <link
          rel="preload"
          as="image"
          media="(min-width:1280px)"
          imagesrcset="/img/main-hero_medium.jpg 1x, /img/main-hero_large.jpg 2x"
        />
      )
    }
    <link
      rel="preload"
      href="/fonts/signika-negative-v20-latin_latin-ext_vietnamese-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <!-- <meta name="generator" content={Astro.generator} /> -->
    <title>{pageTitle}</title>
  </head>

  <body
    class="relative h-full w-full font-signica text-[--color-text]"
    data-loaded="false"
  >
    <!-- TODO: show preloading only once?  -->
    {currentPage === "/" && <LoadingScreen />}

    <LoadingPageTransitions />

    <Navigation />
    <main
      class="main-content relative h-full w-full overflow-x-hidden overflow-y-scroll bg-white"
    >
      <slot />
      <Footer />
    </main>

    <Popup id="callback-form-popup">
      <CallbackForm />
    </Popup>
    <Alert id="success-alert" type="success" title="Success">
      Success message
    </Alert>
    <Alert id="error-alert" type="error" title="Error">Error message</Alert>
  </body>

  <!-- Basic styles setup -->
  <style is:global>
    /* Remove blue highlight of clicked button in mobile Chrome browser */
    * {
      -webkit-tap-highlight-color: transparent;
    }

    /* Set up page height for better mobile height support */
    html,
    body {
      height: 100%;
      overflow-x: hidden;
    }

    html {
      background-size: 224px;
    }

    /* Style text selection */
    ::selection {
      background-color: rgba(var(--color-accent-rgb), 0.7);
      /* border-radius: 100%; */
      /* color: white; */
    }

    /* Style focus outline */
    .tabbable {
      @apply focus-visible:ring-2;
      @apply focus-visible:ring-offset-2;
      @apply focus-visible:ring-[#607cb3];
      @apply focus-visible:border-[#607cb344];
      @apply focus-visible:outline-none;
    }
  </style>

  <!-- Css classes requred by Lenis library - for smooth scroll functionality -->
  <style is:global>
    html.lenis {
      height: auto !important;
    }
    .lenis.lenis-smooth {
      scroll-behavior: auto !important;
    }
    .lenis.lenis-smooth [data-lenis-prevent] {
      overscroll-behavior: contain !important;
    }
    .lenis.lenis-stopped {
      overflow: hidden !important;
    }
    .lenis.lenis-scrolling iframe {
      pointer-events: none !important;
    }
  </style>

  <!-- Load smooth scroll (locomotive scroll + lenis) -->
  <script>
    import initScroll from "../scripts/smoothScroll";

    initScroll();
  </script>
</html>
