---
interface Props {
  className?: string;
  title?: string;
}

const { className, title } = Astro.props;
---

<div
  role="alert"
  class="error-alert rounded-md border border-pink-700 bg-white p-4 fixed bottom-10 right-0 mx-10 md:mx-16 invisible transition-opacity duration-500 ease-in-out opacity-0 z-[500]"
>
  <div class="flex items-start gap-4">
    <span class="text-pink-700">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"
        ></path>
      </svg>
    </span>

    <div class="flex-1">
      <strong class="block font-medium"> {title}</strong>

      <p class="mt-1 text-sm opacity-80">
        <slot />
      </p>
    </div>

    <button type="button" class="text-gray-500 transition hover:text-gray-600">
      <span class="sr-only">Dismiss popup</span>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>
</div>
