---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class=`bg-[--color-secondary] rounded-full text-white uppercase text-xs [font-size:.625rem] px-4 py-2 tracking-wider font-medium ${className? className : ""}`
>
  <slot />
</div>
